Repository tomorrow-zip/TomorrowZipFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: add README.md
  README.md
Due: prettier --write

env: setup tailwindcss
  package.json
  postcss.config.cjs
  src/index.css
  tailwind.config.cjs
  yarn.lock
Due: prettier --write

env: modify tailwindcss color name
  tailwind.config.cjs
Due: none

feat: delete styling code in index.css
  src/index.css
Due: none

feat: add icon images
  src/assets/icon/bed.png
  src/assets/icon/camera.png
  src/assets/icon/closet.png
  src/assets/icon/sofa.png
Due: none

feat: add AdotChat components
  src/components/common/AdotChat.jsx
Due: prettier --write, eslint --fix

feat: add Button component
  src/components/main/Button.jsx
Due: prettier --write, eslint --fix

feat: modify AdotChat components to align text center
  src/components/common/AdotChat.jsx
Due: prettier --write, eslint --fix

refactor: move icon files for button
  src/assets/icon/button/bed.png
  src/assets/icon/button/camera.png
  src/assets/icon/button/closet.png
  src/assets/icon/button/sofa.png
Due: none

refactor: delete vite.svg
  public/vite.svg
Due: none

env: install postcss-100vh-fix plugin for ios 100vh error
  package.json
  postcss.config.cjs
  tailwind.config.cjs
  yarn.lock
Due: prettier --write

feat: add ListContainer component
  src/components/common/ListContainer.jsx
Due: prettier --write, eslint --fix

feat: add Footer component
  src/components/common/Footer.jsx
Due: prettier --write, eslint --fix

feat: add Header component
  src/components/common/Header.jsx
Due: prettier --write, eslint --fix

feat: fix 100vh for ios
  index.html
  src/App.css
  src/App.jsx
  src/assets/img/img.png
  src/components/common/Footer.jsx
  src/components/common/Header.jsx
Due: prettier --write, eslint --fix

feat: add detail props for ListContainer component
  src/components/common/ListContainer.jsx
Due: prettier --write, eslint --fix

feat: add Analysis layout component
  src/components/layout/AnalysisSummary.jsx
Due: prettier --write, eslint --fix

feat: add Analysis layout component
  src/components/layout/Analysis.jsx
Due: prettier --write, eslint --fix

feat: add RecommandList layout component
  src/components/layout/RecommendList.jsx
Due: prettier --write, eslint --fix

feat: add Spinner component
  src/components/common/Spinner.jsx
Due: prettier --write, eslint --fix

env: install tailwind-scrollbar-hide plugin
  package.json
  tailwind.config.cjs
  yarn.lock
Due: prettier --write

feat: fix class AdotChat component to prevent select text
  src/components/common/AdotChat.jsx
Due: prettier --write, eslint --fix

feat: fix class Button component to prevent select text
  src/components/main/Button.jsx
Due: prettier --write, eslint --fix

feat: design routing structure
  src/App.jsx
  src/main.jsx
  src/pages/analysis/index.jsx
  src/pages/furniture/index.jsx
  src/pages/home/index.jsx
  src/pages/recommend/index.jsx
  src/router/router.jsx
Due: prettier --write, eslint --fix

refactor: change directory name
  src/components/home/Button.jsx
Due: prettier --write, eslint --fix

feat: delete icon
  index.html
Due: none

fix: modify dependency
  package.json
Due: prettier --write

feat: add routes for pages
  src/router/router.jsx
Due: prettier --write, eslint --fix

feat: modify ListContainer component
  src/components/common/ListContainer.jsx
Due: prettier --write, eslint --fix

feat: modify Header
  src/components/common/Header.jsx
Due: prettier --write, eslint --fix

feat: add Link to Footer
  src/components/common/Footer.jsx
Due: prettier --write, eslint --fix

feat: add images to asset
  src/assets/img/adot.png
  src/assets/img/clock.png
  src/assets/img/example.jpeg
Due: none

feat: add Buttons component for homepage
  src/components/home/RecommendButton.jsx
  src/components/home/SelectFurnitureTypeButtons.jsx
  src/components/home/UploadButtons.jsx
Due: prettier --write, eslint --fix

feat: add Carousel component
  src/components/furniture/Carousel.jsx
Due: prettier --write, eslint --fix

feat: add RecommendDetail component
  src/components/layout/RecommendDetail.jsx
Due: prettier --write, eslint --fix

refactor: move image files
  src/assets/icon/button/camera/camera.png
  src/assets/icon/button/furnitures/adot.png
  src/assets/icon/button/furnitures/bed.png
  src/assets/icon/button/furnitures/closet.png
  src/assets/icon/button/furnitures/sofa.png
Due: none

feat: add image files
  src/assets/icon/button/camera/album.png
  src/assets/icon/button/recommend/recommend.png
Due: none

refactor: delete comment
  src/App.jsx
Due: prettier --write, eslint --fix

feat: prevent click event during loading
  src/components/common/Spinner.jsx
Due: prettier --write, eslint --fix

fix: fix label for attribute for upload button
  src/components/home/UploadButtons.jsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.jsx)) or (any of: **/*.{md,json})
  eslint --fix: (any of: **/*.js) or (any of: **/*.jsx)
