Repository tomorrow-zip/TomorrowZipFrontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: modify rendering for array of SelectFurnitureTypeButtons
  src/components/home/SelectFurnitureTypeButtons.jsx
Due: prettier --write, eslint --fix

feat: modify router
  src/router/router.jsx
Due: prettier --write, eslint --fix

feat: add pages
  src/pages/analysis/index.jsx
  src/pages/furniture/index.jsx
  src/pages/home/index.jsx
  src/pages/recommend/index.jsx
Due: prettier --write, eslint --fix

feat: modify components
  src/components/common/Footer.jsx
  src/components/common/ListContainer.jsx
  src/components/home/RecommendButton.jsx
  src/components/layout/Analysis.jsx
  src/components/layout/AnalysisSummary.jsx
  src/components/layout/RecommendDetail.jsx
  src/components/layout/RecommendList.jsx
Due: prettier --write, eslint --fix

fix: page router error
  public/_redirects
Due: none

feat: add homepage to package.json
  package.json
Due: prettier --write

env: install jotai
  package.json
  yarn.lock
Due: prettier --write

feat: add jotai atoms
  src/atoms/index.js
Due: prettier --write, eslint --fix

feat: modify Pages
  .eslintrc.json
  src/App.jsx
  src/components/common/Footer.jsx
  src/components/common/ListContainer.jsx
  src/components/common/Spinner.jsx
  src/components/home/RecommendButton.jsx
  src/components/home/SelectFurnitureTypeButtons.jsx
  src/components/home/UploadButtons.jsx
  src/components/layout/Analysis.jsx
  src/components/layout/AnalysisSummary.jsx
  src/components/layout/RecommendList.jsx
  src/pages/analysis/index.jsx
  src/pages/furniture/index.jsx
  src/pages/home/index.jsx
  src/pages/recommend/index.jsx
  src/router/router.jsx
  tailwind.config.cjs
Due: prettier --write, eslint --fix

feat: install env
  package.json
  yarn.lock
Due: prettier --write

env: install axios
  package.json
Due: prettier --write

feat: add api
  src/api/index.js
Due: prettier --write, eslint --fix

feat: api test
  src/pages/home/index.jsx
Due: prettier --write, eslint --fix

feat: api proxy test
  src/api/index.js
  vite.config.js
Due: prettier --write, eslint --fix

env: set proxy for api
  vite.config.js
Due: prettier --write, eslint --fix

env: install @headlessui/react for transition
  package.json
  yarn.lock
Due: prettier --write

feat: set jotai store
  src/atoms/index.js
  src/main.jsx
Due: prettier --write, eslint --fix

feat: add route Cparameter
  src/router/router.jsx
Due: prettier --write, eslint --fix

feat: modify Pages
  .eslintrc.json
  src/api/index.js
  src/components/common/Header.jsx
  src/components/furniture/Carousel.jsx
  src/components/home/SelectFurnitureTypeButtons.jsx
  src/components/home/UploadButtons.jsx
  src/components/layout/Analysis.jsx
  src/components/layout/AnalysisSummary.jsx
  src/components/layout/RecommendDetail.jsx
  src/components/layout/RecommendList.jsx
  src/pages/analysis/index.jsx
  src/pages/furniture/index.jsx
  src/pages/home/index.jsx
  src/pages/recommend/index.jsx
Due: prettier --write, eslint --fix

feat: api 연동 및 수정
  .eslintrc.json
  src/atoms/index.js
  src/components/common/Footer.jsx
  src/components/furniture/Carousel.jsx
  src/components/home/UploadButtons.jsx
  src/components/layout/Analysis.jsx
  src/components/layout/AnalysisSummary.jsx
  src/components/layout/RecommendDetail.jsx
  src/pages/furniture/index.jsx
  src/router/router.jsx
Due: prettier --write, eslint --fix

fix: fix route for build
  src/router/router.jsx
Due: prettier --write, eslint --fix

fix: fix object dependency
  src/components/layout/AnalysisSummary.jsx
Due: prettier --write, eslint --fix

test: add Link for test
  src/App.jsx
  src/components/home/UploadButtons.jsx
  src/components/layout/AnalysisSummary.jsx
  src/pages/furniture/index.jsx
Due: prettier --write, eslint --fix

test: proxy 설정 테스트
  netlify.toml
  src/api/index.js
Due: prettier --write, eslint --fix

test: proxy 설정 테스트
  src/api/index.js
Due: prettier --write, eslint --fix

test: proxy 설정 테스트
  netlify.toml
Due: none

test: proxy 설정 테스트
  netlify.toml
  public/_redirects
Due: none

feat: test 요소 제거
  src/App.jsx
  src/components/home/UploadButtons.jsx
Due: prettier --write, eslint --fix

feat: 3d render pages 추가
  package.json
  src/assets/3dmodel/ikea-bed.mtl
  src/assets/3dmodel/ikea-bed.obj
  src/assets/3dmodel/ikea-bed.png
  src/assets/3dmodel/odger-chair-white-beige__0727334_pe735606_s5.jpeg
  src/pages/render/RenderPage.jsx
  src/router/router.jsx
  yarn.lock
Due: prettier --write, eslint --fix

feat: change eslint ignore
  .eslintignore
Due: none

feat: change photo function
  src/components/home/UploadButtons.jsx
Due: prettier --write, eslint --fix

feat: change api call url
  netlify.toml
  vite.config.js
Due: prettier --write, eslint --fix

feat: change api call url
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.js) or (any of: **/*.jsx)) or (any of: **/*.{md,json})
  eslint --fix: (any of: **/*.js) or (any of: **/*.jsx)
